/***** Custom properties *****/

:root{

  /* colors */
  --light-grey: #F0F2F2;
  --cta: #BF5630;
  --black: #1F2526;
  --green: #6D7345;

  /*fonts*/
  --font-header: 'Noto Serif JP', serif;
  --font-body: 'Raleway', sans-serif;

  /*measures*/
  --header-height: 6rem;
}

/***** Reset *****/
a{
  text-decoration: none;
}

h2{
  font-size: 2.5rem;
  margin: 2.5rem 0;
  font-family: var(--font-header);
}

h4{
  font-size: 1.5rem;
  line-height: 1.5;
}

/***** Components *****/
/*adopt article start*/
.adopt-article{
  padding: 2.5rem 1.25rem;
  color: var(--black);
}

.adopt-article h1{
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 1.875rem;
  margin-bottom: 1.875rem;
}

.adopt-article h2{
  color: var(--green);
}

.adopt-article p{
  font-size: 1.25rem;
  line-height: 1.5;
}

@media (min-width: 1023px){
  .adopt-article{
    padding: 1.25rem;
  }
  .adopt-article h1{
    margin-top: 0;
  }
}
/*adopt article end*/

/* adopt card component starts */
.card-adoption{
  border: 1px solid var(--cta);
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.card-adoption__title,
.card-adoption__suporting-text{
  padding: 1rem;
}

.card-adoption img{
  width: 100%;
  height: auto;
}

.card-adoption__suporting-text{
  overflow: hidden;
  position: relative;
}

.card-adoption__suporting-text ul{
  list-style: none;
  text-align: left;
  font-size: 1.125rem;
  line-height: 2;
}

.card-adoption__suporting-text .excerpt{
  z-index: 10;
  position: absolute;
  top: 0;
  left: 100%;
  font-size: 1.125rem;
  line-height: 2;
  text-align: left;
  padding: 1rem;
  height: 100%;
  width: 100%;
  background-color: var(--black);
  transition: transform .3s ease-in-out;
}

.card-adoption__suporting-text .excerpt-opened{
  transform: translateX(-100%);
}

.card-adoption__suporting-text .plus-icon{
  position: absolute;
  right: 1rem;
  bottom: 1rem;
}

/* adopt card component ends */

/* adopt main start */

.adopt-main {
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}


@media (min-width: 1023px){
  .adopt-main{
    display: grid;
    grid-template-columns: 23rem auto;
    column-gap: 3.125rem;
    margin-top: 5rem;
    padding: 0 5rem;
  }
}
/* adopt main end */

/* adopt nav component start */
.adopt-nav{
  position: sticky;
  top: 6rem;
  padding: 2rem;
  border: thick solid var(--green);
  height: 20rem;
}

.adopt-nav__summary{
  width: min-content;
}

.adopt-nav__summary a{
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.25;
  color: var(--green);
  
}

.adopt-nav__summary a::after{
  content: "";
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--green);
  margin-top: .75rem;
}

.adopt-nav__links{
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  margin-top: 4rem;
}

.adopt-nav__links a{
  font-size: 1.125rem;
  font-weight: 700;
  line-height: 4;
  color: var(--black);
}

.adopt-nav-mobile{
  position: sticky;
  top: 6rem;
  border: thick solid var(--green);
  padding: 1.25rem;
  transition: height .3s ease-in-out;
  height: 5.125rem;
  overflow: hidden;
  background-color: var(--light-grey);
}

 .adopt-nav-mobile__summary{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adopt-nav-mobile__summary a{
  color: var(--green);
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.adopt-nav-mobile__summary img{
  width: 1.125rem;
  transform: rotate(180deg);
  transition: transform .3s ease-in-out;
}

.adopt-nav-mobile__links{
  display: flex;
  flex-direction: column;
  margin-top: 2.125rem;
  margin-left: 2rem;
}

.adopt-nav-mobile__links a{
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--black);
  line-height: 3;
}

.adopt-nav-mobile__summary img.open{
  transform: rotate(0deg);
} 

.adopt-nav-mobile.open{
  height: 16rem;
}

@media (min-width: 768px) {
  .adopt-nav-mobile__links{
    margin-left: 5rem;
  }
}
/* adopt nav component end */

/* article-news starts*/
.article-news h2{
  color: var(--black);
  text-align: center;
}

.article-news p{
  font-size: 1.125rem;
  color: var(--black);
  line-height: 1.5;
}

p.article-news__date{
  margin-bottom: 2.5rem;
  color: var(--green);
}

.article-news img{
  width: 100%;
  height: auto;
  margin-bottom: 2.5rem;
}

@media (min-width: 768px) {
  .article-news__content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2.5rem;
    
  }

  .article-news__content p {
    font-size: 1.5rem;
    grid-column: 2 / 4;
  }

}


.news-footer{
  max-width: 75rem;
  margin: 6rem auto;
  border-top: .5px solid var(--black);
  border-bottom: .5px solid var(--black);
}



@media (min-width: 768px){
  .news-footer{
    display: flex;
    justify-content: space-between;
  }
}


/* article-news ends*/

/* burger start*/
.burger {
  position: relative;
  width: 1.875rem;
  height: 1.25rem;
}

.burger span{
  position: absolute;
  height: .25rem;
  width: 100%;
  background-color: var(--black);
  transition: 
    transform .3s ease-in-out, 
    opacity .3s ease-in-out, 
    width .3s ease-in-out
  ;
}

.burger span:nth-child(2){
  top: .5rem;
}

.burger span:last-child{
  bottom: 0;
}

.burger.times span{
  top: .5rem;
  transition: 
    transform .3s ease-in-out,
    opacity .3s ease-in-out,
    width .3s ease-in-out
  ;
}

.burger.times span:first-child {
  transform: rotate(45deg)
}

.burger.times span:nth-child(2) {
  opacity: 0
}

.burger.times span:last-child {
  transform: rotate(-45deg)
}
/* burger end*/

/* news card starts */
.news-card{
  border: 1px solid var(--green);
  max-width: 21rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

.news-card__media {
  overflow: hidden;
  aspect-ratio: 1 / 1;
  text-align: center;
}

.news-card__media > img{
  width: 100%;
  height: auto;
}

.news-card__title{
  padding: 1rem;
  text-align: center;
  height: 5.1875rem;
  overflow: hidden;
}

.news-card__date{
  padding: 1rem;
  font-size: 1.125rem;
  line-height: 2;
}

/* news card ends */

/* plus icon starts */
.plus-icon {
  position: relative;
  width: 1.875rem;
  height: 1.875rem;
  z-index: 80;
  cursor: pointer;
}

.plus-icon span{
  position: absolute;
  height: .25rem;
  width: 100%;
  background-color: var(--inherit-color);
  transition: 
    transform .3s ease-in-out, 
    opacity .3s ease-in-out, 
    width .3s ease-in-out
  ;
} 

.plus-icon span:first-child{
  top: .8125rem;
  left: 0;
  transform: rotate(90deg);
  
}

.plus-icon span:last-child{
  top: .8125rem;
  left: 0;
}

.plus-icon.minus-icon span{
  transition: 
    transform .3s ease-in-out,
    opacity .3s ease-in-out,
    width .3s ease-in-out
  ;
}

.plus-icon.minus-icon span:first-child,
.plus-icon.minus-icon span:last-child {
  transform: rotate(0deg)
}

/* plus icon ends */

/***** Utilities *****/
.black{
  background-color: var(--black);
  color: var(--light-grey);
}

.black h2{
  font-family: var(--font-header);
}

.black span{
  color: var(--cta);
}

.btn-cta{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: 3.5rem;
  width: 12rem;
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--light-grey);
  background-color: var(--cta);
  padding: .75rem;
  margin-left: auto;
  margin-right: auto;
}

.btn-cta img{
  height: 100%;
  width: auto;
  margin-right: 1.25rem;
}

.btn-cta:hover > img{
  animation: heartBeat .8s linear infinite;
}

@keyframes heartBeat{
  0% {transform: scale(1.07);}
  80% {transform: scale(1.00);}
  100% {transform: scale(0.8);}
}

.btn-text,
.btn-text__prev-next{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.7rem;
  font-size: 1.125rem;
  line-height: 1.5;
  font-weight: 700;
  color: var(--green);
  margin-left: auto;
  margin-right: auto;
}

.btn-text{
  width: 12rem;
}

.btn-text:hover img{
  transform: translateX(.5rem);
}

.btn-text img{
  height: 1.5rem;
  margin-left: 1rem;
  transition: transform .3s ease-in-out;
}

.btn-text__prev-next img{
  height: 1.5rem;
  margin: 0 1rem;
  transition: transform .3s ease-in-out;
}

.btn-text__prev-next:hover img{
  transform: translateX(.5rem);
}

.btn-text__prev-next:hover .arrow-left{
  transform: translateX(-.5rem);
}



.container{
  padding: 1.25rem;
}

.contain{
  max-width: 75rem;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container{
    padding: 2.5rem 5rem;
  }
}

.inactive{
  display: none;
}

/***** Site Style *****/

/* Adopt home section starts */
.adopt-home{
  text-align: center;
}

@media (min-width: 1024px) {
    .adopt-home__gallery{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 5rem;
    }

    .adopt-home__gallery > *{
      margin-left: 0;
      margin-right: 0;
    }
}

/* Adopt home section ends */

/*Header start*/
.header{
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1.25rem 1.5rem;
  background-color: var(--light-grey);
}

.header a,
.header img{
  height: 100%;
}

.navMain{
  display: flex;
  align-items: center;
}

.navMain a{
  font-size: 1.125rem;
  line-height: 1;
  font-weight: 700;
  color: var(--black);
  transition: color .3s ease-in-out;
}

.navMain a::after{
  content: " ";
  display: block;
  height: 2px;
  width: 0;
  background-color: var(--green);
  transition: width .3s ease-in-out;
}

.navMain a:hover{
  color: var(--green);
}

.navMain a:hover::after{
  width: 100%;
}

.navMain a:not(:last-child){
  margin-right: 3rem;
}

@media (min-width: 1024px) {
    .header{
      padding: 1.25rem 5rem;
    }
}

/*Header end*/

/*hero estart*/
.hero,
.hero-pages{
  position: relative;
  overflow: hidden;
}

.hero{
  height: calc(100vh - var(--header-height) );
}

.hero-pages{
  height: calc((100vh - var(--header-height)) * .75);
}

.hero > img,
.hero-pages > img{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  object-fit: cover;
}

.hero a{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 3rem;
}
@media (min-width: 1024px) {
  .hero{
    height: calc(100vh - (var(--header-height) * 2));
  }

  .hero > img,
  .hero-pages > img{
    width: 100%;
  }
  
}
/*hero end*/

/*hero-pages estart*/
.hero-pages h1{
  position: absolute;
  left: 6.25vw;
  top: 12.5%;
  font-size: 16vw;
  line-height: 1;
  color: var(--light-grey);
}

@media (min-width: 1024px) {
  .hero-pages h1{
    font-size: 8vw;
  }
}

/*hero-pages ends*/

/*mision start*/
.mision{
  text-align: center;
}

.mision a{
  display: inline-block;
  margin-top: 2.5rem;
}

/*mision end*/

/*nav mobil estart*/
.navMobil{
  position: fixed;
  z-index: 90;
  top: var(--header-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - var(--header-height));
  text-align: center;
  background-color: var(--light-grey);
  transform: translateX(-100%);
  transition: transform .3s ease-in-out;
}

.navMobil a{
  font-size: 2.625rem;
  line-height: 1;
  font-weight: 700;
  color: var(--black);
}

.navMobil a:not(:last-child){
  margin-bottom: 2.5rem;
}

.navMobil.navOpen{
  transform: translateX(0);
}

/*nav mobil end*/

/*news home section starts*/

.news-home__title{
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 padding: 3rem 0;
}

.news-home__title h3{
  font-size: 3.125rem;
  margin-bottom: 1.125rem;
}

.news-home__title p{
  font-size: 1.125rem;
  line-height: 2;
  margin-bottom: 2.25rem;
}

@media (min-width: 1024px) {
    .news-home__content{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1.5rem;
    }
}

@media (min-width: 1440px) {
    .news-home{
      display: grid;
      grid-template-columns: 25% 75%;
      grid-gap: 1.5rem;
    }
}
/*news home section ends */

/*quote start*/
.quote{
  text-align: center;
  color: var(--black);
}

.quote span,
.quote p{
  color: var(--green);
}

.quote blockquote,
.quote p,
.mision blockquote{
  font-size: 1.125rem;
  line-height: 2;
}

.quote p{
  margin-top: 2.5rem;
}

@media (min-width: 768px) {
  .quote blockquote,
  .quote p,
  .mision blockquote{
    font-size: 1.5rem;
    line-height: 2;
  }
}
/*quote end*/
/*stats start*/
.stat{
  position: relative;
  height: 100%;
  overflow: hidden;
  color: var(--light-grey);
}

.stat img{
  height: 100%;
  width: auto;
}

.stat .data{
  width: 100%;
  bottom: 0;
  padding: 0 1rem 2rem;
  position: absolute;
  background: var(--black);
  background: linear-gradient(0deg, var(--black) 0%, rgba(255,255,255,0) 100%);
}

.stat b{
  font-size: 2.5rem;
  line-height: 1;
}

.stat p{
  font-size: 1.5rem;
  line-height: 1.25;
}

.stats-grid{
  margin: 6rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 50vw);
}


@media (min-aspect-ratio: 4/3) {
  .stats-grid{
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25vw;
  }
}


/*stats end*/

/*swiper stats start*/
.swiper{
  width: 100%;
  height: 100vw;
  margin: 6rem 0;
}

.swiper-pagination-bullet{
  background: var(--light-grey)!important;
}

@media (min-aspect-ratio: 16/9) {
  .swiper{
    height: calc(100vh - var(--header-height));
    width: calc(100vh - var(--header-height));
    margin: 6rem 0;
  }
}


/*swiper stats end */