html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--font-body);
}

*,
*::before,
*::after{
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
  background-color: var(--light-grey);
}